<div class="container">
  <section class="section columns">
    <div class="column">
      <a
        id="new-tool"
        class="button is-outlined is-info"
        data-mfp-src="#new-popup"
      >
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
        <span>Yeni Egzersiz Ekle</span>
      </a>
      <a
        class="button is-outlined is-primary"
        href="javascript:exportPdf()"
      >
        <span>PDF olarak Kaydet</span>
      </a>
      <br>
      <br>
      <div class="field has-addons">
        <div class="control">
          <input
            id="search"
            class="input"
            type="search"
            placeholder="İsime göre filtreleyin"
          >
        </div>
        <div class="control">
          <a
            class="button is-info"
            href="javascript:search()"
          >
            Filtrele
          </a>
        </div>
      </div>
      <table class="table is-hoverable is-bordered is-fullwidth">
        <thead>
          <tr>
            <th>Ad</th>
            <th>Açıklama</th>
            <th>Set Sayısı</th>
            <th>Aletler</th>
          </tr>
        </thead>
        <tbody>
          {{#each exercises}}
          <tr class="pointy">
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{set_size}}</td>
            {{#each tools}}
            <td>{{name}}</td>
            {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</div>
<div
  id="new-popup"
  class="popup mfp-hide"
>
</div>

<script>
  function exportPdf() {
    html2pdf(
      $('.table').get(0),
      {
        margin: 4,
        filename: 'users.pdf',
        html2canvas: { dpi: 192 },
        jsPDF: { orientation: 'landscape' }
      }
    );
  }
  function search() {
    var name = $('#search').val();
    return location.href = '/exercises/searchByName/' + name;
  }
</script>