<div class="container">
  <section class="section columns">
    <div class="column">
      <h2 class="title">
        Anasayfa
      </h2>
      <table class="table is-bordered is-fullwidth">
        <thead>
          <tr>
            <th>Ad Soyad</th>
            <th>Kullanıcı Türü</th>
            <th>Aktivite</th>
            <th>Tarih</th>
          </tr>
        </thead>
        <tbody>
          {{#each activities}}
          <tr>
            <td>{{name}}</td>
            <td>{{userType}}</td>
            <td>{{type}}</td>
            <td>{{timestamp}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</div>