<div class="container">
  <section class="section columns">
    <div class="column">
      <h1 class="title">
        Envanter
      </h1>
      <table class="table is-hoverable">
        <thead>
          <tr>
            <th>Ad</th>
            <th>Kullanma Süresi</th>
            <th>Geliş Zamanı</th>
          </tr>
        </thead>
        <tbody>
          {{#each tools}}
          <tr class="pointy">
            <td>name</td>
            <td>arrival_date</td>
            <td>usage_time</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</div>
<script>
  function openModal(user) {
    console.log(user);
  }
</script>