<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  />
  <title>Gym</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
  />
  <script
    defer
    src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
  ></script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"
  ></script>
  <script src="https://www.gitcdn.xyz/repo/dimsemenov/Magnific-Popup/master/dist/jquery.magnific-popup.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/loadingio/ldLoader@v1.0.0/dist/ldld.min.js"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/loadingio/ldLoader@v1.0.0/dist/ldld.min.css"
  >
  <link
    rel="stylesheet"
    href="https://www.gitcdn.xyz/repo/dimsemenov/Magnific-Popup/master/dist/magnific-popup.css"
  >
  <style>
    .navbar {
      box-shadow: 0px .75px #888888;
    }

    .pointy {
      cursor: pointer;
    }

    .popup {
      position: relative;
      background: #FFF;
      padding: 20px;
      width: auto;
      max-width: 620px;
      margin: 20px auto;
    }
  </style>
</head>

<body class="has-navbar-fixed-top">

  <nav class="navbar is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="https://avatar.alpcoskun.com/furkan" />
      </a>
      <a
        role="button"
        id="burger"
        class="navbar-burger burger"
      >
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div
      id="navbar"
      class="navbar-menu is-toggable"
    >
      <div class="navbar-start">
        {{#if isAdmin}}
        <a
          class="navbar-item {{#if isMain}}is-active{{/if}}"
          href="/"
        >
          <span class="icon"><i class="fas fa-columns"></i></span>
          <span>Panel</span>
        </a>
        <a
          class="navbar-item {{#if isUsers}}is-active{{/if}}"
          href="/users"
        >
          <span class="icon"><i class="fas fa-user"></i></span>
          <span>Müşteriler</span>
        </a>
        {{/if}}
        <a
          class="navbar-item {{#if isTrainers}}is-active{{/if}}"
          href="/trainers"
        >
          <span class="icon"><i class="fas fa-user-circle"></i></span>
          <span>Eğitimciler</span>
        </a>

        <a
          class="navbar-item {{#if isExercises}}is-active{{/if}}"
          href="/exercises"
        >
          <span class="icon"><i class="far fa-calendar"></i></span>
          <span>Egzersiz Programları</span>
        </a>
        {{#unless isAdmin}}
        <a
          class="navbar-item {{#if isCalendar}}is-active{{/if}}"
          href="/calendar"
        >
          <span class="icon"><i class="far fa-calendar-alt"></i></span>
          <span>Takvim</span>
        </a>
        {{/unless}}
        {{#if isAdmin}}
        <a
          class="navbar-item {{#if isInventory}}is-active{{/if}}"
          href="/inventory"
        >
          <span class="icon"><i class="fas fa-toolbox"></i></span>
          <span>Envanter</span>
        </a>
        <a
          class="navbar-item {{#if isProfile}}is-active{{/if}}"
          href="/profile"
        >
          <span class="icon"><i class="fas fa-user-circle"></i></span>
          <span>Profil</span>
        </a>
        <a
          class="navbar-item {{#if isSettings}}is-active{{/if}}"
          href="/settings"
        >
          <span class="icon"><i class="fas fa-cog"></i></span>
          <span>Ayarlar</span>
        </a>
        {{/if}}
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a
              class="button is-outlined is-danger is-small"
              href="javascript:logout()"
            >
              <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
              </span>
              <span>Çıkış</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <script>
    var navbar = $('#navbar');
    var burger = $('#burger');
    var loader = $('#loader');
    burger.on('click', function () {
      if (navbar.is(':visible')) {
        burger.removeClass('is-active');
        navbar.css('display', 'none');
      } else {
        burger.addClass('is-active');
        navbar.css('display', 'block');
      }
    });

    function showLoad() {
      if (!loader.hasClass('is-active')) {
        loader.addClass('is-active');
      }
    }

    function hideLoad() {
      if (loader.hasClass('is-active')) {
        loader.removeClass('is-active');
      }
    }

    function logout() {
      showLoad();
      document.cookie = 'tc=;expires=Thu, 01 Jan 1970 00:00:00 GMT';
      location.href = '/login.html';
    }
  </script>
  {{{body}}}
  <div class="ldld full" style="z-index: 9999;"></div>
</body>

</html>